{% extends "base.html" %}
{% load static%}
{% block styles %}
    <link rel="stylesheet" href="{% static 'browse/browse.css' %}">

{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <form action="/browse" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"/>
    </form>
    
    {% for i in items%}
        <a id="img" href={% url "browse:detail" userName=i.user %}>
            <img src={{i.shirtImg}}>
        </a>
    {% endfor %}
{% endblock %}